<html>
    <body>
        <p><span style="background-color: #4485b8; color: #fff; display: inline-block; padding: 2px 8px; font-weight: bold; border-radius: 5px; font-size: 170%;"><a href="../index.html">Volver al Proceso</a></span></p>
        <p><span size="7" style="font-size: 300%;">{elementName}</span><span size="2" style="font-size: small;">&nbsp;<em>ID:&nbsp;{elementId}</em></span></p>
        <p><em><strong>Descripci&oacute;n:</strong></em> {elementDescription}</p>
        <p><em><strong>Siguiente:</strong></em> <a href="{elementNextId}.html">{elementNextName}</a>&nbsp;<a href="{elementAltId}.html">{elementAltName}</a></p>
        <p><em><strong>Anterior:</strong></em> <a href="{elementPreviousId}.html">{elementPreviousName}</a></p>
    </body>
</html>
